.header {
	width: 100%;
	display: flex;

	& li {
		cursor: pointer;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #FFFFFF;
		border: 1px solid #1A1919;
		box-sizing: border-box;
		border-radius: 2px;
		
		font-family: Arsenal;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.168824px;
		color: #1A1919;

		&:hover {
			border: 1px solid #1A1919;
		}
	}
}

@media screen and (max-width: 1024px) {
	.header {
		display: none;
	}
}